<div class="container">
  <div class="col-md-4 offset-md-4">
    <h1 class="text-center"> {{ title }} </h1>
    <div class="container, text-center">
      <div class="font-weight-bold"> {{ minutos }} : {{ segundos}} </div>
    </div>
  </div>
</div>

<div class="col-sm-2">
  <form class="form-horizontal" >
    <div class="form-group">
      <label for="tarefa" class="control-label">Tarefa: </label>
      <div>
        <input type="text" class="form-control" id="tarefa" name="tarefa" [(ngModel)]="item">
      </div>
      <button type="submit" class="btn btn-primary" (click)="aggTarefa()">Agregar Tarefa</button>
    </div>
  </form>
</div>

<div class="row">
  <div class="col-sm-6" [hidden]="ocultarLista">
    <h2>Lista: </h2>
    <table class="table table-bordered">
      <thead>
        <tr class="text-center">
          <th>Tarefa</th>
          <th>Opcões</th>
        </tr>
      </thead>
      <tbody>
        <tr class="text-center" *ngFor="let tarea of tarefas; let i = index">
          <td> {{ tarea }} </td>
          <td>
            <a (click)="iniciarPomo()" class="btn btn-success">Iniciar Pomodoro</a>
            <a (click)="editTarefa(i)" class="btn btn-secondary">Editar {{ edit }}</a>
            <a (click)="deletTarefa(i)" class="btn btn-danger">Deletar</a>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <div>
    <div class="col-sm-20">
      <h2>Editar</h2>
      <form class="form-horizontal">
        <div class="form-group">
          <label for="tarefa" class="control-label col-sm-8">
            Tarefa
            <!-- <div class="col-sm-10"><input type="text" class="form-control" id="tarefa" name="tarefa" [(ngModel)]="item2" placeholder="Insira sua nova Tarefa">
          </div> -->
        </label>

      </div>
    </form>

  </div>
</div>
